.CatalogPage {
  grid-template-columns: 1fr;
  grid-template-areas:
    "filters"
    "camperList";
}

.Filters {
  grid-area: filters;
}

.camperList {
  grid-area: camperList;
}

@media sreen and (min-width: 768px) {}

@media screen and (min-width: 1280px) {
  .CatalogPage {
    display: grid;
    grid-template-areas: "filters camperList";
    grid-template-columns: 360px 1fr;
    gap: 64px;
    padding-top: 48px;
    padding-bottom: 58px;
  }
}