header {
    position: relative;
    background-color: var(--inputs);
}

.divLogo {
    display: block;
    position: absolute;
    top: 24px;
    left: 64px;
}

.logo {
    color: var(--main);
    font-weight: 800;
}

.logoSpan {
    color: var(--text);
}

.navigationList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.linkItem {
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--main);

    padding-top: 24px;
    padding-bottom: 24px;
}

.linkItem.active {
    color: var(--button-hover)
}