.container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    gap: 100px;
    /* width: 631px; */
    align-items: center;

    border-radius: 10px;
    background: var(--inputs, #F7F7F7);

    padding: 44px 52px;
}

.menuIcons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    margin-bottom: 100px;
}

.menuItemIcon {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--badges);
    mix-blend-mode: multiply;

    padding: 12px 18px;
}