.vehicleCard {
  display: grid;
  padding: 16px;
  background-color: var(--white);
  border-radius: 20px;
  border: 1px solid var(--dark-gray);
  line-height: 1.2em;
  font-size: 14px;
}

.truckImage {
  margin-bottom: 16px;
}

.truckName {
  padding-bottom: 10px;
  font-size: 24px;
}

.truckPrice {
  font-size: 18px;
  font-weight: 600;
}

.truckRateLoc {
  display: grid;
  grid-template-columns: 1fr;
}

.truckRatingLink {
  color: var(--main);
  text-decoration: underline;
  cursor: pointer;
}

.truckDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 8px;
}

.truckFeatures {
  display: grid;
  gap: 8px;
  font-weight: 500;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  margin-bottom: 8px;
}

.featureItem {
  border-radius: 100px;
  background-color: var(--badges);
  mix-blend-mode: multiply;
  padding: 8px 12px;
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
}

.showMoreButton {
  padding: 12px 30px;
  font-weight: 500;
  border-radius: 200px;
  background-color: var(--button);
  color: var(--white);
  font-size: 14px;
  letter-spacing: -0.08px;
}

.showMoreButton:hover {
  background-color: var(--button-hover);
}

@media screen and (min-width: 768px) {
  .vehicleCard {
    padding: 20px;
    line-height: 1.6em;
    font-size: 16px;
  }

  .truckName {
    line-height: 1.6em;
  }

  .truckPrice {
    font-size: 22px;
  }

  .truckRateLoc {
    grid-template-columns: auto 1fr;
    gap: 16px;
  }

  .truckDescription {
    margin-bottom: 16px;
  }

  .truckFeatures {
    margin-bottom: 16px;
  }

  .showMoreButtonContainer {
    justify-content: flex-end;
  }

  .showMoreButton {
    font-size: 16px;
    padding: 14px 45px;
  }
}

@media screen and (min-width: 1280px) {
  .vehicleCard {
    padding: 24px;
    line-height: 2em;
  }

  .truckPrice {
    font-size: 24px;
  }

  .truckDescription {
    margin-bottom: 24px;
  }

  .truckFeatures {
    margin-bottom: 24px;
  }

  .showMoreButtonContainer {
    justify-content: center;
  }

  .showMoreButton {
    padding: 16px 60px;
  }
}
