@import-normalize;
/* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main: #101828;
  --text: #475467;
  --button: #E44848;
  --button-hover: #D84343;
  --dark-gray: #DADDE1;
  --badges: #F2F4F7;
  --inputs: #F7F7F7;
  --white: #FFFFFF;
  --yellow: #FFC531;
}


body {
  font-family: 'Inter', 'Helvetica Neue', 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--white);
  color: var(--main);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--main);
  margin: 0;
}

p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-size: 11px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  border: none;
}

input {
  font-family: inherit;
}

.section {
  margin: auto;
}

.container {
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 64px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  padding: 12px 16px 32px 16px;
}

@media screen and (min-width: 768px) {
  .page {
    padding: 24px 32px 40px 32px;
  }

  p {
    line-height: 24px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    padding: 48px 64px 80px 64px;
  }
}