.camperList {
  display: grid;
  gap: 16px;
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
}

.loadMoreButton {
  border-radius: 200px;
  border: 1px solid var(--light-gray);
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.08px;
}

.loadMoreButton:hover {
  background-color: var(--button);
}

@media screen and (min-width: 768px) {
  .camperList {
    gap: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .camperList {
    gap: 32px;
  }
}
